body {
  display: grid;
  /* justify-content: center; */
  /* align-items: center; */
  grid-template-columns: 70% 30%;
  gap:10px;
  background-color: seagreen;
}
h2 {
  text-align: center;
  background-color: rgb(57, 228, 177);
}
.deck {
  display: flex;
  background-color: white;
  /* justify-content: center; */
  /* grid-column: 1 / 4; */
}
#btn {
  /* grid-column: 4 / 4; */
}