body {
  display: grid;
  grid-template-columns: 70% 30%;
  gap:10px;
  background-color: seagreen;
}
h2 {
  text-align: center;
}
#playing-field{
  /* display: flex; */
  justify-content: center;
}
div#player-hand{
  display: flex;
  justify-content: center;
}
div#dealer-hand{
  display: flex;
  justify-content: center;
}
div#deck{
  align-self: center;
}
h2#message{
  margin-bottom: 50px;
}
#start-container{
  display: flex;
  justify-content: center;
}
#can-see{
  display: flex;
  justify-content: center;
  visibility: visible;
}
button.reset{
  justify-self: start;
  align-self: center;
}
/* button.start{
  justify-content: center;
} */