body {
  display: grid;
  grid-template-columns: 70% 30%;
  gap:10px;
  background-color: seagreen;
}
h2 {
  text-align: center;
}
#playing-field{
  display: grid;
  justify-content: center;
  /* grid-template-rows: 90px 90px; */
}
div#player-hand{
  display: flex;
  justify-content: center;
}
div#dealer-hand{
  display: flex;
  justify-content: center;
}
div#deck{
  align-self: center;
}
h2#message{
  margin-bottom: 50px;
}
#start-container{
  display: grid;
  justify-content: center;
}
#can-see{
  display: flex;
  justify-content: space-around;
  visibility: visible;
}
button.reset{
  justify-self: center;
place-items: center;
}
button.start{
  visibility: visible;
}